In [45]:
import pandas as pd
import numpy as np
import math

In [4]:
pd.Series([1, 3, 5, np.nan, 6, 8])

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [28]:
pd.DataFrame(np.arange(1,10))

   0
0  1
1  2
2  3
3  4
4  5
5  6
6  7
7  8
8  9

In [33]:
dates = pd.date_range('2023-01-01', periods=9, freq='ME')

In [62]:
df = pd.DataFrame([ [math.ceil(np.random.rand()*9) for j in range(9)] for i in range(9)], index=dates,columns=range(1,10))

In [63]:
df.dtypes

1    int64
2    int64
3    int64
4    int64
5    int64
6    int64
7    int64
8    int64
9    int64
dtype: object